*~
Aulas.pdf
2013/emails.txt
2013/additional_material/lecture4/example_*

# sheet 1
CdeCock.pdf
Exercice1.gwenael.laurent.pdf
Exercise1-Pilar-Cano.pdf
Jan.Fiser.Sheet1.pdf
SHEET1_IreneParada.pdf
Sheet1_problem_EBurjons
Sheet1_problem_EBurjons.pdf
sheet1.arnau.planas.pdf
signed.sheet1.arnau.planas.pdf
sheet1_quentin_pergeline.pdf2

# sheet 2
CdeCock_HW2.pdf
code.zip
Sheet2_problems_EBurjons.pdf
Sheet2_problems_EBurjons.pdf.gpg
Pilar_Cano.zip
SHEET2_IreneParada.pdf
Readme.txt
TestChi.sage
sheet2_claramateo.pdf
JanFiserSheet2.pdf

# c++ ignores

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# latex ignores
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.brf
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
